<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Campo: Nombre -->
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <!-- Campo: Descripción -->
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <!-- Campo: Categoría -->
  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.text_field :category %>
  </div>

  <!-- Campo: Precio -->
  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <!-- Campo: Duración (nuevo campo) -->
  <div>
    <%= form.label :duration, "Duración (en minutos)", style: "display: block" %>
    <%= form.number_field :duration, min: 1, step: 1 %>
  </div>

  <!-- Campo: Activo -->
  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <!-- Botón de Envío -->
  <div>
    <%= form.submit %>
  </div>
<% end %>
