<div id="<%= dom_id appointment %>">
  <p>
    <strong>Employee:</strong>
    <%= appointment.employee_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= appointment.service_id %>
  </p>

  <p>
    <strong>Appointment date:</strong>
    <%= appointment.appointment_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= appointment.notes %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= appointment.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= appointment.updated_at %>
  </p>

</div>
